* {margin:0; padding:0;}
img {border:0;}	

body {
	font-family: '맑은 고딕','Roboto Condensed', sans-serif;
	color:#3b3b3b; font-size:12pt; line-height:150%;
	}
.cb {clear:both;}
.topBg{position:fixed;height:98px;width:100%;background:url(images/top_bg.png) repeat-x 0 0;}
li{float:left;}
table{margin:0; padding:0;}	
.lineTxt{text-decoration:underline;text-underline-position: under;}
.boldTxt{font-weight:bold;}

.bottom{position:relative}
.left{position:absolute; left:0; top:45px;}
.right{position:absolute; left:465px; top:45px;}
div#wrapper, header {width:620px;margin:0 auto; border:0px solid red;}
header div{padding:12px 0 0 0; }
header ul{padding:10px 0 0 0; color:#fff;}
header ul li{padding:0 35px 0 0;}
header ul li a {color:#fff;text-decoration:none;}
header ul li a:hover {color:#fff;text-decoration:underline;text-underline-position: under;}
figcaption {font-size:11pt;color:#8f8f8f;text-align:center;}

h1{padding:60px 0 0 0;line-height:120%}
h4{padding:30px 0 0 0;}
p.data{padding:10px 0 0 0;font-size:10pt;color:#868686;}
p.name{line-height:150%;font-size:10pt;padding:10px 0 0 0;}
div.txt{padding:20px 0 0 0;}
div.txt p{padding:20px 0 0 0;}
div.emoticon{padding:20px 0 0 0;}
div.bottom{background:url(images/bottom_bg.png) no-repeat 0 0;width:620px; height:170px;}
div.bottom p{font-size:10pt;padding:10px 0 0 185px;}
div.bottom ul{padding-left:15px;}
div.bottom table{font-size:10pt;text-align:center;padding:15px 0 0 0px;}
div.bottom table .no{font-size:11pt;}
table.emoticon2 {padding-top:20px;}
table.emoticon2 img {padding-left:17px;}


ul{border:0px solid red;padding:5px 0 0px 7px;}
li {list-style:none;float:left; }
div.text{padding:20px 0 0 50px;}
p {border:1px solid #fff;clear:both;}
.tab2 li {padding-left:20px;}
.Choice{padding:20px 0 0 220px;float:left;}
.Choice li{padding:1px 3px 0 0;}
.Choice_bg{background:url(images/bg.png) no-repeat 1px 0px;width:95px; height:50px;}
.Choice_txt {float:left;padding:22px 0 0 0px;}
.Choice_txt li {float:left;padding:5px 3px 0 3px;}
p.Choice_p{text-align:center;font-size:10pt;}
